apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-health-app
  labels:
    app: api-health-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-health-app
  template:
    metadata:
      labels:
        app: api-health-app
    spec:
      containers:
        - name: api-health-app
          image: 428346553093.dkr.ecr.eu-north-1.amazonaws.com/my-app:latest
          ports:
            - containerPort: 3000
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_HOST
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_NAME
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_PORT
          envFrom:
            - configMapRef:
                name: api-health-config
            - secretRef:
                name: api-health-secret
